<div class="form-group">
    <input [(ngModel)]="location" class="form-control" type="text" id="weatherLocation" aria-describedby="weatherLocation"
      placeholder="Enter Location" />
  </div>
  <div class="text-center">
    <button (click)="getData()" type="submit" class="btn btn-success btn-md">
      Search for the weather
    </button>
  </div>
<div class="col">
  
</div>
<div class="weather-forecast container" *ngIf="currentWeather.cityName">
  <div class="location">{{currentWeather.cityName}}</div>
  <div class="date">{{currentWeather.date}}</div>
  <div class="desc">{{currentWeather.type}}</div>
  <div class="current">
    <div class="visual">
      <div class="icon"><img src={{currentWeather.img}}></div>
      <div class="temp">{{currentWeather.tempMax}}</div>
      <div class="scale">°C</div>
    </div>
    <div class="description">
      <div class="precip">{{currentWeather.percipitation}}%</div>
      <div class="humidity">{{currentWeather.humid}}%</div>
      <div class="wind">{{currentWeather.wind}}</div>
    </div>
  </div>
  <div *ngFor="let weather of futureWeather" class="seven-day">
    <app-forecast [weather]=weather></app-forecast>
  </div>
  
</div>
<router-outlet></router-outlet>